<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <span class="full-text">SnapperGPS</span>
            <span class="short-text">S</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- <ul class="navbar-nav">
                <li class="nav-item">
                    <a 
                        <% if (pageName === 'configure') { %>
                            class="nav-link active" aria-current="page"
                        <% } else { %>
                            class="nav-link"
                        <% } %>
                        href="/configure">Configure
                    </a>
                </li>
                <li class="nav-item">
                    <a 
                        <% if (pageName === 'upload') { %>
                            class="nav-link active" aria-current="page"
                        <% } else { %>
                            class="nav-link"
                        <% } %>
                        href="/upload">Upload
                    </a>
                </li>
                <li class="nav-item">
                    <a 
                        <% if (pageName === 'download') { %>
                            class="nav-link active" aria-current="page"
                        <% } else { %>
                            class="nav-link"
                        <% } %>
                        href="/view">Download
                    </a>
                </li>
            </ul> -->
        </div>
    </div>
</nav>
