<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SnapperGPS - Live</title>
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css" />
        <script src="js/deviceCommunication.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Configure your SnapperGPS receiver for your next deployment.">
    </head>
    <body>

        <!-- Nav bar -->
        <%- include ('partials/navBar', {pageName: 'index'}) %>

        <!-- Main body -->
        <main class="container">

            <div class="row">
                <div class="col">
                    <h1>Snapper GPS Live</h1>
                </div>
            </div>

            <div class="row" style="margin-bottom: 20px;">
                <div class="col">
                    <i>
                        Did you know that this site works offline, too? You can configure your SnapperGPS receiver in the field. (If you do not clear your browser cache.)
                    </i>
                </div>
            </div>

            <div class="row bg-white">

                <div>
                    <%- include ('partials/webUsbSupport') %>
                </div>

                <div id="error-display" style="display: none;">
                    <div class="card text-white bg-danger mb-3" style="max-width: 100%;">
                        <div class="card-header"><b>Error</b></div>
                        <div class="card-body">
                            <p class="card-text" id="error-text">Error</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row bg-light">

                <div class="row">
                    <div class="col">
                        Connect your SnapperGPS receiver via USB. If you used SnapperGPS before, then you can see some information from your SnapperGPS receiver below.
                        Otherwise, click <i>Pair receiver</i> and select your SnapperGPS receiver from the list.
                    </div>
                </div>

                <div class="row-ident">
                    <%- include ('partials/deviceInfo') %>
                </div>

                <div class="row btnrow row-ident">
                    <div class="col btncol">
                        <button class="btn btn-primary full-width" id="pair-button" style="min-width: 175px" disabled>Pair receiver</button>
                    </div>
                </div>
            
            </div>

            <div class="row bg-light">

                <div class="row">
                    <div class="col">
                        Run the current test code
                    </div>
                </div>

                <div class="row btnrow row-ident">
                    <div class="col btncol">
                        <button class="btn btn-primary full-width" id="test-button" style="min-width: 175px">Run</button>
                    </div>
                </div>
            
            </div>

        </main>

    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="service-worker.js"></script>
    <script src="fft.js"></script>
    <script src="js/configureUI.js"></script>
    <script src="js/fileRead.js"></script>
    <!-- <script src="js/caCodes.js"></script> -->
    <script src="js/caCodesPrecalculated.js"></script>

    <!-- <script src="js/gpsAcquisition.js"></script> -->
    <script src="js/gpsBin.js"></script>

</html>